<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="myapp">
<form>
    <fieldset>
        <legend>datos de acceso</legend>

        <label>
            correo electronico
        </label>
        <input type="email" v-model="email" name="" required>

        <label>
            password
        </label>

        <input type="password" v-model="password" name="" required>
        <br>
        <button @click="login">
            acceder
        </button>
    </fieldset>
</form>
    </div>
    <script src="https://unpkg.com/vue@3"></script>
    <script type="text/javascript" src="javascript/index.js"></script>
</body>
</html>